<!-- FOOOTER 
================================================== -->
<div id="footer">
    <footer class="row">
    <p class="back-top floatright">
        <a href="#top"><span></span></a>
    </p>
    <div class="four columns">
        <h1>ABOUT US</h1>
         <p>We are a specialist consultancy, focussing on technologies that can support better communication and learning within public and private sector organisations.</p>

        <p>Contact us for information on how we can help you, or read our blog to get a feel for whether we will fit your particular needs.</p>

    </div>
    <div class="four columns">
        <h1>COMPANY DETAILS</h1>
        <!-- <a class="social facebook" href="#"></a>
        <a class="social twitter" href="#"></a>
        <a class="social deviantart" href="#"></a>
        <a class="social flickr" href="#"></a>
        <a class="social dribbble" href="#"></a>-->
        <p>Company number: 5731173 Registered in England</p>
        <p>1 Newton Close<br />
            Belper, Derbyshire, DE56 1TN</p>

        <p>VAT number: GB 138 0370 29</p>
    </div>
    <div class="four columns">
        <h1>CONTACT US</h1>
        <p>Call: 01773 881 227</p>
        <p class="hideurl">Email: <a href="mailto:sales@wyversolutions.co.uk">sales@wyversolutions.co.uk</a></p>
        <div class="non-printing">
            <p><a href="https://www.linkedin.com/company/wyver-solutions-ltd">Linked In company page</a></p>
            <p><a href="http://feeds.feedburner.com/WyverSolutionsLtd"><i class="fa fa-rss"></i> RSS feed</a></p>
        </div>
                <!--<h1 class="newsmargin">NEWSLETTER</h1>
        <div class="row collapse newsletter floatright">
            <div class="ten mobile-three columns">
                <input type="text" class="nomargin" placeholder="Enter your e-mail address...">
            </div>
            <div class="two mobile-one columns">
                <a href="#" class="postfix button expand">GO</a>
            </div>
        </div> -->
    </div>
    
    </footer>


    <div class="row">
        <div class="twelve columns">
            {% assign pages = site.pages | sort:"name" %}
            
            <ul id="utility-menu">
            <!-- <ul id="main-menu" class="nav-bar sf-menu"  > -->
                  {% for p in pages %}

                    {% if p.menu == 'utility' %}
                        
                      <li{% if p.url == page.url %} class="current"{% endif %}>
                         <a href="{{ p.url }}">{{ p.title }}</a>
                      </li>

                        
                      
                    {% endif %}
                  {% endfor %}
            </ul>
        </div>
    </div>

<div class="copyright">
    <div class="row">
        <div class="six columns">
             <span class="small">&copy; Copyright <script type="text/javascript">document.write(new Date().getFullYear());</script> Wyver Solutions Ltd</span>
        </div>
        <div class="six columns">
            <span class="small floatright"> Theme based on "Studio Francesca" - <a href="http://WowThemes.net" target="_blank">WowThemes.net</a></span>
        </div>
    </div>

</div>
</div>
