<!DOCTYPE html>
<!-- paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ -->
<!--[if lt IE 7]> <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js lt-ie9 lt-ie8" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js lt-ie9" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>

<meta charset="utf-8"/>
<!-- Set the viewport width to device width for mobile -->
<meta name="viewport" content="width=device-width"/>
<meta name="description" content="{{ site.description }}">

<meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">

<meta property="og:type" content="{% if page.thumb %}article{% else %}website{% endif %}">

<meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

{% if page.thumb %}
  <meta name="og:image" content="{{site.url }}{{ page.thumb }}">
{% else %}
  <meta name="og:image" content="{{ site.url }}/assets/wyver_square_logo.jpg">
{% endif %}

<meta property="og:description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

<meta property="og:site_name" content="{{ site.title }}">

<!-- Twitter cards -->

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@berthelemy">
<meta name="twitter:creator" content="@berthelemy">
{% if page.title %}
  <meta name="twitter:title" content="{{ page.title }}">
{% else %}
  <meta name="twitter:title" content="{{ site.title }}">
{% endif %}
{% if page.url %}
  <meta name="twitter:url" content="{{ site.url }}{{ page.url }}">
{% endif %}
{% if page.excerpt %}
  <meta name="twitter:description" content="{{ page.excerpt }}">
{% else %}
  <meta name="twitter:description" content="{{ site.description }}">
{% endif %}
{% if page.thumb %}
  <meta name="twitter:image:src" content="{{site.url }}{{ page.thumb }}">
{% else %}
  <meta name="twitter:image:src" content="{{ site.url }}/assets/wyver_square_logo.jpg">
{% endif %}

<title>{{ site.title }} > {{ page.title }}</title>

<link rel="alternate" type="application/rss+xml" title="RSS" href="http://www.wyversolutions.co.uk/feed.xml">
<!-- CSS Files-->
<link rel="stylesheet" href="/stylesheets/style.css">

<link rel="stylesheet" href="/stylesheets/skins/blue.css">
<!-- skin color -->
<link rel="stylesheet" href="/stylesheets/responsive.css">
<!-- IE Fix for HTML5 Tags -->
<!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

  
    <link rel="stylesheet" href="/assets/lightbox/css/lightbox.css">
  <link href="//cdn.rawgit.com/noelboss/featherlight/1.6.1/release/featherlight.min.css" type="text/css" rel="stylesheet" />
  <link href="//cdn.rawgit.com/noelboss/featherlight/1.6.1/release/featherlight.gallery.min.css" type="text/css" rel="stylesheet" />

  <link rel="stylesheet" href="/assets/overrides.css">

</head>