<!-- JAVASCRIPTS 
================================================== -->
<!-- Javascript files placed here for faster loading -->

<!-- Begin Cookie Consent plugin by Silktide - http://silktide.com/cookieconsent -->
<script type="text/javascript">
    window.cookieconsent_options = {"message":"This website uses cookies to ensure you get the best experience on our website","dismiss":"Got it!","learnMore":"More info","link":"http://www.wyversolutions.co.uk/cookie-policy","theme":"light-bottom"};
</script>

<script type="text/javascript" src="//s3.amazonaws.com/cc.silktide.com/cookieconsent.latest.min.js"></script>
<!-- End Cookie Consent plugin -->


<!-- SwiftType search -->

<script type="text/javascript">
  (function(w,d,t,u,n,s,e){w['SwiftypeObject']=n;w[n]=w[n]||function(){
  (w[n].q=w[n].q||[]).push(arguments);};s=d.createElement(t);
  e=d.getElementsByTagName(t)[0];s.async=1;s.src=u;e.parentNode.insertBefore(s,e);
  })(window,document,'script','//s.swiftypecdn.com/install/v2/st.js','_st');

  _st('install','MSthyBsf2hGQ56wWjHPx','2.0.0');
</script>


<!-- Google custom search -->

<script>
  (function() {
    var cx = '014748105747934831097:flopxusan5w';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>

<!-- Google analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-47465109-3', 'auto');
  ga('send', 'pageview');

</script>





<script
  src="https://code.jquery.com/jquery-1.12.4.min.js"
  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ="
  crossorigin="anonymous"></script>
<script src="//cdn.rawgit.com/noelboss/featherlight/1.6.1/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
<script src="//cdn.rawgit.com/noelboss/featherlight/1.6.1/release/featherlight.gallery.min.js" type="text/javascript" charset="utf-8"></script>

<!-- Jquery functions -->
<script>
  jQuery(document).ready(function($){
    $('.gallery').featherlightGallery({
          gallery: {
            next: 'next »',
            previous: '« previous'
          },
          variant: 'featherlight-gallery2'
        });
  });
</script>

<script src="/javascripts/foundation.min.js"></script>
<script src="/javascripts/jquery.easing.1.3.js"></script>
<script src="/javascripts/elasticslideshow.js"></script>
<script src="/javascripts/jquery.carouFredSel-6.0.5-packed.js"></script>
<script src="/javascripts/jquery.cycle.js"></script>
<script src="/javascripts/app.js"></script>
<script src="/javascripts/modernizr.foundation.js"></script>
<script src="/javascripts/slidepanel.js"></script>
<script src="/javascripts/scrolltotop.js"></script>
<script src="/javascripts/hoverIntent.js"></script>


<script src="/assets/lightbox/js/lightbox.min.js"></script>

<script id="dsq-count-scr" src="//wyversolutions.disqus.com/count.js" async></script>