{::nomarkdown}
<h2>Our people</h2>
<div class="row">
{% assign people = site.people | sort: 'type' | reverse %}
{% for person in people %}
<div class="four columns">
	<div class="person">
		<h3>{{ person.firstname }} {{ person.surname }}</h3>
		<p>{{ person.type }}</p>
		<div class="portrait rounded">
			<img class="" src="{{ person.photo }}" alt="{{ person.firstname}} portrait" />
		</div>
		<p>{{ person.excerpt }}</p>
		<p><a href="#" data-featherlight="{{ person.url }}index.html #content">More about {{ person.firstname }}</a></p>
	</div>
</div><!-- end of column -->
{% endfor %}
</div><!-- end of row -->


{:/nomarkdown}