{::nomarkdown}
<h2>Our people</h2>
<p>We build virtual teams for specific projects, from our list of regular, trusted associates.</p> 

<div class="row">
{% assign people = site.people | sort: 'type' | reverse %}
{% for person in people %}
<div class="four columns">
	<div class="person">
		<p><strong>{{ person.firstname }} {{ person.surname }}</strong></p>
		<p>{{ person.type }}</p>
		<div class="portrait ">
			<a class="gallery" href="{{ person.url }}index.html #content" data-featherlight-type="ajax"><img class="rounded" src="{{ person.photo }}" alt="{{ person.firstname}} portrait" /></a>
		</div>
		<p>{{ person.excerpt }}</p>
		
	</div>
</div><!-- end of column -->
{% endfor %}
</div><!-- end of row -->



{:/nomarkdown}

<!--<a href="#" data-featherlight="{{ person.url }}index.html #content">More about {{ person.firstname }}</a>-->