<!-- SUBHEADER
================================================== -->
<div class="col_2">
        <div class="logo">
            <a href="/index.html">
            <img src="/assets/wyver_square_logo.jpg" alt="Wyver Solutions logo" style="width: 80px;" />
            </a>
        </div>
    </div>

<div id="subheader">
    <div class="row">
        <div class="twelve columns">
            <div id="searchbox" class="aligncenter">
                <input type="text" class="st-default-search-input">
            </div>
            
            <h1 class="left">
                 {{ page.title }}
            </h1>
            
        </div>    
    </div>

</div>

<div class="hr">
</div>