<!-- SUBHEADER
================================================== -->
<div id="subheader">
    <div class="row">
        <div class="twelve columns">
            
            <p id="rss-icon" style="float:right; margin-right: 20px;"><a href="http://www.wyversolutions.co.uk/feed.xml"><i class="fa fa-rss"></i></a></p>
            <div id="search-box">

                <script>
                  (function() {
                    var cx = '014748105747934831097:flopxusan5w';
                    var gcse = document.createElement('script');
                    gcse.type = 'text/javascript';
                    gcse.async = true;
                    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
                        '//cse.google.com/cse.js?cx=' + cx;
                    var s = document.getElementsByTagName('script')[0];
                    s.parentNode.insertBefore(gcse, s);
                  })();
                </script>
                <gcse:search></gcse:search>

                
            </div>
            <p class="left">
                 {{ page.title }}
            </p>
        </div>
        
</div>

</div>

<div class="hr">
</div>