<h3>Suppliers we like to work with</h3>
<p>These organisations are either specialists in a particular field, or suppliers of excellent software or services.</p>
<div class="row">
    <div class="six columns">
        <h4><a href="http://adaptivle.co.uk/" target="_blank">AdaptiVLE</a></h4>
        <p>Experts in all things Moodle and Wordpress - building stunning theme packs and customising functionality.</p>
    </div>
    <div class="six columns">
        <h4><a href="http://www.appitierre.com/" target="_blank">Appitierre</a></h4>
        <p>Providers of tools to support multi-device online learning, and developers of the <a href="http://www.appitierre.com/blog/2015/06/15/capsules-learnappeal/" target="_blank">Learn Appeal Capsule</a> for locations with little or no internet.</p>
    </div>
</div>

<div class="row">

    <div class="six columns">
        <h4><a href="http://www.cm-group.co.uk/" target="_blank">CM Group</a></h4>
        <p>Suppliers of <a href="https://www.agylia.com/" target="blank">Agylia</a> - a class leading mobile and desktop learning system.</p>
    </div>
    <div class="six columns">
        <h4><a href="https://curatr3.com/" target="_blank">Curatr</a></h4>
        <p>Browser and mobile device-based system to support MOOCs and other course-type interventions - with functions to help motivate participants to complete.</p>
    </div>
    
</div>

<div class="row">
    <div class="six columns">
        <h4><a href="http://www.dominion79.co.uk/" target="_blank">Dominion79</a></h4>
        <p>Digital development services - specialising in the <a href="https://www.concrete5.org/" target="_blank">Concrete5</a> content management system.</p>
    </div>
    <div class="six columns">
        <h4><a href="http://marketing.enterprisestudy.com/" target="_blank">Enterprise Study</a></h4>
        <p>Experts in training administration - providing a system to manage all aspects of in-house and commercial training provision.</p>
    </div>
</div>

<div class="row">
    <div class="six columns">
        <h4><a href="http://honeybootlemon.com/" target="_blank">Honeyboot &amp; Lemon</a></h4>
        <p>Consultancy in L&amp;D transformation, strategy, learning and instructional design.</p>
    </div>
    <div class="six columns">
        <h4><a href="https://horizensolutions.co.uk/" target="_blank">Horizen Solutions</a></h4>
        <p>Experts in business transformation, solution design and programme and project management.</p>
    </div>
</div>

<div class="row">
    
    <div class="six columns">
        <h4><a href="https://www.redjamjar.net" target="_blank">Red Jam Jar</a></h4>
        <p>Creators of fresh, modern knowledge management solutions.</p>
    </div>
    <div class="six columns">
        <h4><a href="http://www.unicorntraining.com/" target="_blank">Unicorn Training</a></h4>
        <p>Solid and fully functional learning management system - with excellent CPD and mobile capabilities.</p>
    </div>
</div>
<div class="row">
    <div class="six columns">
        <h4><a href="https://www.webanywhere.co.uk/" target="_blank">Webanywhere</a></h4>
        <p>Providers of excellent Moodle and Drupal services to leading global brands.</p>
    </div>
    <div class="six columns">
        <h4><a href="http://www.xyleme.com/" target="_blank">Xyleme</a></h4>
        <p>Single-source learning content management platform - for authoring, publishing, delivery and analytics.</p>
    </div>
</div>


    
        


