<!-- HIDDEN PANEL 
================================================== -->
<!--<div id="panel">
    <div class="row">
        <div class="twelve columns">
            <img src="/images/info.png" class="pics" alt="info">
            <div class="infotext">
                  
            </div>
        </div>
    </div>
</div>-->

<!--<p class="slide">
    <a href="#" class="btn-slide"></a>
</p>-->

<!-- HEADER
================================================== -->
<div class="row">
    <div class="headerlogo four columns">
        <div class="logo">
            <a href="/index.html">
            <img src="/assets/wyversolutions_logo_3001.png" alt="Wyver Solutions logo" />
            <!-- <h4>Wyver Solutions Ltd</h4> -->
            </a>
        </div>
    </div>
    <div class="headermenu eight columns noleftmarg">
        <!-- Button for small screens -->
 

        <nav id="nav-wrap">
           <label for="show-menu" class="show-menu"><i class="fa fa-bars"></i></label>
            <input type="checkbox" class="hide" id="show-menu" role="button">

            {% assign pages = site.pages | sort:"name" %}
            {% assign blog = 0 %}
            <ul id="menu" class="nav-bar"  >
            <!-- <ul id="main-menu" class="nav-bar sf-menu"  > -->
                  {% for p in pages %}

                    {% if p.menu == 'main' %}
                        {% if p.title == "Blog" and blog == 0 %}
                      <li{% if p.url == page.url %} class="current"{% endif %}>
                         <a href="{{ p.url }}">{{ p.title }}</a>
                      </li>

                        {% assign blog = 1 %}
                    

                        {% elsif p.title != "Blog" %}
                        <li{% if p.url == page.url %} class="current"{% endif %}>
                         <a href="{{ p.url }}">{{ p.title }}</a>
                      </li>
                      {% endif %}
                      
                    {% endif %}
                  {% endfor %}

                  <li><a href="http://www.wyversolutions.co.uk/feed.xml"><i class="fa fa-rss"></i></a></li>
            </ul>
        <!-- <ul id="main-menu" class="nav-bar sf-menu">
            <li class="current">
            <a href="index.html">Home</a>
            <ul>
                <li><a href="index2.html">Without slider</a></li>
            </ul>
            </li>
            <li>
            <a href="#">Portofolio</a>
            <ul>
                <li><a href="portofolio2.html">2 Columns</a></li>
                <li><a href="portofolio3.html">3 Columns</a></li>
                <li><a href="portofolio4.html">4 Columns</a></li>
                <li><a href="portofoliodetail.html">Project Details</a></li>
            </ul>
            </li>
            <li>
            <a href="#">Blog</a>
            <ul>
                <li><a href="blogpage1.html">Blog page style 1</a></li>
                <li><a href="blogpage2.html">Blog page style 2</a></li>
                <li><a href="blogpage3.html">Blog page style 3</a></li>
                <li><a href="blogsinglepost.html">Single post</a></li>
            </ul>
            </li>
            <li>
            <a href="#">Pages</a>
            <ul>
                <li><a href="about.html">About us</a></li>
                <li><a href="services.html">Services</a></li>
            </ul>
            </li>
            <li>
            <a href="#">Features</a>
            <ul>
                <li><a href="columns.html">Columns</a></li>
                <li><a href="elements.html">Elements</a></li>
                <li><a href="typography.html">Typography</a></li>
            </ul>
            </li>
            <li>
            <a href="contact.html">Contact</a>
            </li>
        </ul> -->
        </nav>
    </div>
</div>