<!-- HIDDEN PANEL 
================================================== -->
<!--<div id="panel" class="grid">
    <div class="row">
        <div class="col_12">
            <img src="/images/info.png" class="pics" alt="info">
            <div class="infotext">
                <p>Free 30 minute initial consultation | <a href="/contact.html">Contact us for details</a></p>
            </div>
        </div>
    </div>
</div>-->


<!-- HEADER
================================================== -->
<div id="ident">

            
    <div class="logo">
        <a href="/index.html">
        <img src="/assets/wyversolutions_logo_900.png" alt="Wyver Solutions logo" style="object-fit: contain; width:100%" />
        </a>
    </div>

    <!--<div class="col_3">
        {% if page.url != "/" %}<div id="searchbox" class="desktop-only">
        <input style="width: inherit;" type="text" class="st-default-search-input search-pages">
    </div>{% endif %}
    </div>-->

    <div id="menu-container">
        
        <!-- Button for small screens -->
 

        <nav id="nav-wrap">
           <label for="show-menu" class="show-menu"><i class="fa fa-bars"></i></label>
            <input type="checkbox" class="hide" id="show-menu" role="button">

            {% assign pages = site.pages | sort:"name" %}
            
            
            <ul id="menu" class="menu">
                
            <!-- <ul id="main-menu" class="nav-bar sf-menu"  > -->
                {% assign blog = 0 %}
                  {% for p in pages %}
                    
                    {% if p.menu == 'main' %}

                        {% if page.layout == "post" and p.title == "Blog" and blog == 0 %}
                            {% assign blog = 1 %}
                                <li class="current">
                                    <a href="/blog">{{ p.title }}</a>
                                </li>

                        {% elsif p.title == "Blog" and blog == 0 %}
                               {% assign blog = 1 %}                     
                                <li {% if p.url == page.url %}class="current"{% endif %}>
                                    <a href="/blog">{{ p.title }}</a>
                                </li>
                        {% elsif p.title != "Blog" %}
                            {% assign pageurl = page.url | slice:0,6 %}
                        <li{% if p.url == page.url %} class="current"{% endif %}>
                         <a href="{{ p.url }}">{{ p.title }}</a>
                      </li>

                      
                      {% endif %}
                      
                    {% endif %}
                  {% endfor %}
                  <!--<li class="right">
                    <div id="searchbox">
                        <input type="text" class="st-default-search-input">
                    </div>
                </li>-->

            </ul>
        <!-- <ul id="main-menu" class="nav-bar sf-menu">
            <li class="current">
            <a href="index.html">Home</a>
            <ul>
                <li><a href="index2.html">Without slider</a></li>
            </ul>
            </li>
            <li>
            <a href="#">Portofolio</a>
            <ul>
                <li><a href="portofolio2.html">2 Columns</a></li>
                <li><a href="portofolio3.html">3 Columns</a></li>
                <li><a href="portofolio4.html">4 Columns</a></li>
                <li><a href="portofoliodetail.html">Project Details</a></li>
            </ul>
            </li>
            <li>
            <a href="#">Blog</a>
            <ul>
                <li><a href="blogpage1.html">Blog page style 1</a></li>
                <li><a href="blogpage2.html">Blog page style 2</a></li>
                <li><a href="blogpage3.html">Blog page style 3</a></li>
                <li><a href="blogsinglepost.html">Single post</a></li>
            </ul>
            </li>
            <li>
            <a href="#">Pages</a>
            <ul>
                <li><a href="about.html">About us</a></li>
                <li><a href="services.html">Services</a></li>
            </ul>
            </li>
            <li>
            <a href="#">Features</a>
            <ul>
                <li><a href="columns.html">Columns</a></li>
                <li><a href="elements.html">Elements</a></li>
                <li><a href="typography.html">Typography</a></li>
            </ul>
            </li>
            <li>
            <a href="contact.html">Contact</a>
            </li>
        </ul> -->
        </nav>
    </div> <!-- End of menu -->

    

    

            
        </div> <!-- end ident -->
    



    
