---
layout: slides
title: Moving your training online
description: A webinar for UfI to help face-to-face trainers move online quickly and inexpensively
theme: white
transition: slide
client: UFI
logo: /presentations/ufi/ufi_brand_logotype_rgb_passionate_ruby.png
backgroundImage: startup-593343_1280.jpg
backgroundImageSourceURL: https://pixabay.com/photos/startup-start-up-people-593343/
backgroundImageCredit: StartupStockPhotos on Pixabay
---
<!-- TO MANAGE VERTICAL SECTIONS put hasChildren: true in the first slide and endVertical: true in the last slide of the vertical section -->
{% for slide in site.ufiwebinar %}

{% if slide.hasChildren == true %}
    <section>
{% endif %}
        <section data-background-image="{{ slide.backgroundImage }}" data-background-opacity="0.5">
            <div class="content">
                <h2>{{ slide.title }}</h2>
                {% if slide.subtitle %}<h3>{{ slide.subtitle }}</h3>{% endif %}
                {{ slide.content }}
            </div>
            <aside class="notes">
                {{ slide.notes }}
            </aside>
        </section>
{% if slide.endVertical == true %}
    </section>
{% endif %}
{% endfor %}