/* Overrides stylesheet */

.alignright {
    padding: 0 0 10px 10px;
    float: right;
}

a:hover { color: #5b5b5b; }

#subheader {
    background-color: #5b5b5b;
    border-color: #5b5b5b;
}

.slide {
    border-color: #5b5b5b;
}

.btn-slide, .btn-slide.active {
    background-color: #5b5b5b;
}

.logo {
    margin-top: 0px;
    margin-bottom: 0px;
}

#content ul {
    list-style: circle;
    margin-top: 0px;
    margin-bottom: 6px;
    margin-left: 12px;
}

li.relatedPost {
    margin-top: 3px;
    margin-bottom: 6px;
}

#footer {
    color: #aaa;
}

.small {
    color: #aaa;
}


.ca-sub {
    line-height: 15px;
}

/* Set colours */

a {color: #1d76c3;}
.colorme {color:#1d76c3;}
.nav-bar > li:hover, .nav-bar > li a:hover  { color: #1d76c3;}
.nav-bar > li.active > a { }
ul.flyout li a:hover, .nav-bar li ul li a:hover {color:#1d76c3;}
.flyout {border-top:2px solid #1d76c3;}
.sectiontitle {border-left: 4px solid #1d76c3;}
::-moz-selection{background:#1d76c3;color:#fff;}
::selection{background:#1d76c3;color:#fff;}
.ca-menu li:hover .ca-main {color: #1d76c3;}
.topborder { border-top:4px solid #1d76c3;}
.readmore {background:#1d76c3;}
/* #subheader {background: #1d76c3;border-top: 1px solid #1d76c3; color: #fff;} */
 #subheader a {color: #eee;}
 #subheader a:hover {color: #fff;}
 .readmore {background:#1d76c3;}
 #testimonials blockquote cite {color:#1d76c3;}
 .tags {background:#1d76c3;}
 ul.pagination li.current a {background: #1d76c3;}
.saymore {color:#1d76c3;}
.submit {background:#1d76c3;} 
dl.tabs dd.active { border-bottom: 3px solid #1d76c3;}
ul.accordion > li.active {border-top: 3px solid #1d76c3;}
div.alert-box.default { background-color: #1d76c3;}
.slide {    margin: 0;  padding: 0; border-top: solid 4px #1d76c3;}
.btn-slide {    background:#1d76c3 url(../../images/plus.png) no-repeat;}
.btn-slide.active { background: #1d76c3 url(../../images/minus.png) no-repeat;}
#footer {border-top:#1d76c3 4px solid;}
.back-top a:hover{background-color: #1d76c3;}
.sf-shadow ul {border-top:2px solid #1d76c3;}
.panel {border-left:4px solid #1d76c3;}
blockquote {border-left:4px solid #1d76c3;}
.colorbackground {background:#1d76c3;}
a.projectdetail { background: #1d76c3;opacity:0.8;}
a.projectdetail:hover { background: #1d76c3;opacity:1.0;}
#testimonials {border-left: solid 6px #1d76c3;}
.ei-title h2{background:#1d76c3;} 