{% include head.html %}
<body>

        

            {% include topmenu.html %}

 <div class="grid" id="wrapper">           
<!-- CONTENT 
================================================== -->

    <!-- MAIN CONTENT-->
    <div id="content" class="col_12 center">
        <h2>{{ page.title }}</h2>
        {{ content }}

    </div>
    

       
                
    </div><!-- end form -->
    <div class="col_2"></div>



{% include footer.html %}
</div> <!-- End of grid -->
{% include javascripts.html %}
</body>
</html>