{% include head.html %}

<body>
    <div class="black-background">
    
        
            {% include topmenu.html %}

<div class="grid" id="wrapper">
<div class="col_12 center" id="titles">
    <h1>{{ site.title }}</h1>
    <h2>{{ site.tagline }}</h2>
</div>

            

<!-- ANIMATED COLUMNS 
================================================== -->
<div class="clear"></div>
<div id="services" class="col_12">
    <!--Image by <a href="https://pixabay.com/users/TheDigitalArtist-202249/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3400789">Pete Linforth</a> from <a href="https://pixabay.com/?utm_source=link-attribution&amp;utm_medium=referral&amp;utm_campaign=image&amp;utm_content=3400789">Pixabay</a>-->

            <div class="col_4 center">
            <span><i class="fa fa-question icon"></i></span>
                <h4 class="ca-main">Strategic consulting</h4>
                <!--<h3 class="ca-sub">Straight to the point</h3>-->
            </div>
            <div class="col_4 center">
            <span><i class="fa fa-hands-helping icon"></i></span>
                <h4 class="ca-main">Procurement support</h4>
               <!-- <h3 class="ca-sub">Doing more with less</h3>-->
            </div>
            <div class="col_4 center">
            <span><i class="fa fa-wrench icon"></i></span>
                <h4 class="ca-main">Troubleshooting</h4>
                <!--<h3 class="ca-sub">Asking the right questions</h3>-->
            </div>
            <div class="col_4 center">
            <span><i class="fa fa-mobile icon"></i></span>
                <h4 class="ca-main">Digital transformation</h4>
             <!--   <h3 class="ca-sub">Helping clear communication</h3>    -->
            </div>
            <div class="col_4 center">
            <span><i class="fa fa-paper-plane icon"></i></span>
                <h4 class="ca-main">Agile product development</h4>
             <!--   <h3 class="ca-sub">Helping clear communication</h3>    -->
            </div>
            <div class="col_4 center">
            <span><i class="fa fa-cogs icon"></i></span>
                <h4 class="ca-main">System setup</h4>
              <!--  <h3 class="ca-sub">Iterating towards perfection</h3>-->
            </div> 
            <div class="col_12 center">
            <a class="button orange" href="/services"><h4>Find out more</h4></a>
            </div> 
</div>




<!-- CONTENT 
================================================== -->
<!--<div class="row">
    <div class="twelve columns">
        <div class="centersectiontitle">
            <h4>What we do</h4>
        </div>
    </div>
    <div class="four columns">
        <h5>Analysis &amp; Design</h5>
        <p>
             We will explore your current and future requirements.
        </p>
        <p>
            <a href="#" class="readmore">Learn more</a>
        </p>
    </div>
    <div class="four columns">
        <h5>Troubleshooting &amp; Consultancy</h5>
        <p>
            We will work with you to devise future-resilient solutions.
        </p>
        <p>
            <a href="#" class="readmore">Learn more</a>
        </p>
    </div>
    <div class="four columns">
        <h5>Implementation Support</h5>
        <p>
             Our implementation method uses the best of current project management tools and techniques.
        </p>
        <p>
            <a href="#" class="readmore">Learn more</a>
        </p>
    </div>
</div>
<div class="row">
    <div class="twelve columns">
        
    </div>
    <div class="4 columns">
        <h5>Supplier Selection</h5>
        <p>
             We will explore your current and future requirements.
        </p>
        <p>
            <a href="#" class="readmore">Learn more</a>
        </p>
    </div>
    <div class="four columns">
        &nbsp;
        <p>
            <a href="#" class="readmore">Learn more</a>
        </p>
    </div>
    <div class="four columns">
        <h5>Training</h5>
        <p>
             Our implementation method uses the best of current project management tools and techniques.
        </p>
        <p>
            <a href="#" class="readmore">Learn more</a>
        </p>
    </div>
</div>-->

<!-- CLIENTS 
================================================== -->
<!-- <div class="row">
    <div class="twelve columns">
        <div class="centersectiontitle">
            <h4>Clients</h4>
        </div>
    </div>
    <div class="twelve columns">
        <div class="image_carousel fitcarousel">
        <div id="foo2">
                <img src="http://placehold.it/140x140/222" alt="" width="140" height="140"/>
                <img src="http://placehold.it/140x140/333" alt="" width="140" height="140"/>
                <img src="http://placehold.it/140x140/222" alt="" width="140" height="140"/>
                <img src="http://placehold.it/140x140/333" alt="" width="140" height="140"/>
                <img src="http://placehold.it/140x140/222" alt="" width="140" height="140"/>
                <img src="http://placehold.it/140x140/333" alt="" width="140" height="140"/>
                <img src="http://placehold.it/140x140/222" alt="" width="140" height="140"/>
                <img src="http://placehold.it/140x140/333" alt="" width="140" height="140"/>
                <img src="http://placehold.it/140x140/222" alt="" width="140" height="140"/>
                <img src="http://placehold.it/140x140/333" alt="" width="140" height="140"/>
                <img src="http://placehold.it/140x140/222" alt="" width="140" height="140"/>
                <img src="http://placehold.it/140x140/333" alt="" width="140" height="140"/>
            </div>
            <div class="clearfix">
            </div>
            <a class="prev" id="foo2_prev" href="#"><span>prev</span></a>
            <a class="next" id="foo2_next" href="#"><span>next</span></a>
        </div>
    </div>
</div> -->

<!--<div class="row">
    <div class="twelve columns">
        <div id="eln">
            <a title="Elearning Network Industry Partner" class="elnlogo" href="https://www.elearningnetwork.org/industry-partners/" target="_blank">
                <img class="aligncenter" src="/assets/logos/eLN_Industry Partner_Logo_Full colour_CMYK.png" width="250px" alt="ELN industry partner logo" />
            </a>
            <p>&nbsp;</p>
        </div>
    </div>
</div>-->


<div id="recent-posts" class="">
        <div class="col_12 center">
            <h4>Recent articles</h4>
        </div>
            
    
        
        
        {% for post in site.posts limit: 3 %}
        
        <div class="col_4 center"> <!-- Posts -->

            
                <div class="carousel-post">
                    <a href="{{ post.url }}">
                        <h5 class="home-post-title">{{ post.title }}</h5>
                    <!--<p class="small date">
                        Posted on: {{ post.date | date: '%B %d, %Y' }}<br />
                    </p>-->
                    
                    <p>
                        <img style="width:350px" src="{{ post.thumb }}" alt="{{ post.alt }}" class="thumb">
                    <!-- {{ post.excerpt }} -->
                    </p>
                    </a>
                    <!--<p class="small">Categories: {% for category in post.categories %}{{ category }},{% endfor %}
                    </p>-->
                    <!--<p>
                        <a href="{{ post.url }}" class="small continue">Continue reading</a>
                    </p>-->
                </div>
            

        </div>
        
        {% endfor %}
    
    
        
</div>

<!--end testimonials-->

{% include footer.html %}

</div> <!-- End of Grid -->
</div><!-- end black background -->
{% include javascripts.html %}

</body>
</html>
