{% include head.html %}

<body>
{% include topmenu.html %}

<div class="clear">
</div>
<!-- SUBHEADER
================================================== -->
<div id="subheader" class="subheadertext" style="padding:50px 0px !Important;">
    <div class="row">
        <div class="twelve columns">
            <div class="noslide">
                 <h1>Digital Transformation Architects</h1>
                <h3>Specialists in analysing your needs, designing solutions and implementing technologies</h3>

                <div id="searchbox" class="aligncenter">
                    <input type="text" class="st-default-search-input">
                </div>
                
            
                <!--<a href="/contact.html" class="clear actbutton">Get in touch</a> -->
            </div>
        </div>
    </div>
</div>
<!-- ANIMATED COLUMNS 
================================================== -->
<div class="row">
    <div class="twelve columns">
        <ul class="ca-menu">
            <li>
            <a href="services.html">

            <span class="ca-icon"><i class="fa fa-ambulance"></i></span>
            <div class="ca-content">
                <h2 class="ca-main">Troubleshooting<br />&amp; Consultancy</h2>
                <h3 class="ca-sub">Straight to the point</h3>
            </div>
            </a>
            </li>
            <li>
            <a href="services.html">
            <span class="ca-icon"><i class="fa fa-pencil-square-o"></i></span>
            <div class="ca-content">
                <h2 class="ca-main">Analysis &amp;<br />Design</h2>
                <h3 class="ca-sub">Doing more with less</h3>
            </div>
            </a>
            </li>
            <li>
            <a href="services.html">
            <span class="ca-icon"><i class="fa fa-search"></i></span>
            <div class="ca-content">
                <h2 class="ca-main">Supplier<br />Selection</h2>
                <h3 class="ca-sub">Asking the right questions</h3>
            </div>
            </a>
            </li>
            <li>
            <a href="services.html">
            <span class="ca-icon"><i class="fa fa-gears"></i></span>
            <div class="ca-content">
                <h2 class="ca-main">Implementation<br />Support</h2>
                <h3 class="ca-sub">Helping clear communication</h3>
            </div>
            </a>
            </li>
            <li>
            <a href="/leanlearning">
            <span class="ca-icon"><i class="fa fa-bullseye"></i></span>
            <div class="ca-content">
                <h2 class="ca-main">Lean<br />Learning</h2>
                <h3 class="ca-sub">Iterating towards perfection</h3>
            </div>
            </a>
            </li>
            
        </ul>
    </div>
</div>



<!-- CONTENT 
================================================== -->
<!--<div class="row">
    <div class="twelve columns">
        <div class="centersectiontitle">
            <h4>What we do</h4>
        </div>
    </div>
    <div class="four columns">
        <h5>Analysis &amp; Design</h5>
        <p>
             We will explore your current and future requirements.
        </p>
        <p>
            <a href="#" class="readmore">Learn more</a>
        </p>
    </div>
    <div class="four columns">
        <h5>Troubleshooting &amp; Consultancy</h5>
        <p>
            We will work with you to devise future-resilient solutions.
        </p>
        <p>
            <a href="#" class="readmore">Learn more</a>
        </p>
    </div>
    <div class="four columns">
        <h5>Implementation Support</h5>
        <p>
             Our implementation method uses the best of current project management tools and techniques.
        </p>
        <p>
            <a href="#" class="readmore">Learn more</a>
        </p>
    </div>
</div>
<div class="row">
    <div class="twelve columns">
        
    </div>
    <div class="4 columns">
        <h5>Supplier Selection</h5>
        <p>
             We will explore your current and future requirements.
        </p>
        <p>
            <a href="#" class="readmore">Learn more</a>
        </p>
    </div>
    <div class="four columns">
        &nbsp;
        <p>
            <a href="#" class="readmore">Learn more</a>
        </p>
    </div>
    <div class="four columns">
        <h5>Training</h5>
        <p>
             Our implementation method uses the best of current project management tools and techniques.
        </p>
        <p>
            <a href="#" class="readmore">Learn more</a>
        </p>
    </div>
</div>-->
<div class="hr">
</div>
<!-- CLIENTS 
================================================== -->
<!-- <div class="row">
    <div class="twelve columns">
        <div class="centersectiontitle">
            <h4>Clients</h4>
        </div>
    </div>
    <div class="twelve columns">
        <div class="image_carousel fitcarousel">
        <div id="foo2">
                <img src="http://placehold.it/140x140/222" alt="" width="140" height="140"/>
                <img src="http://placehold.it/140x140/333" alt="" width="140" height="140"/>
                <img src="http://placehold.it/140x140/222" alt="" width="140" height="140"/>
                <img src="http://placehold.it/140x140/333" alt="" width="140" height="140"/>
                <img src="http://placehold.it/140x140/222" alt="" width="140" height="140"/>
                <img src="http://placehold.it/140x140/333" alt="" width="140" height="140"/>
                <img src="http://placehold.it/140x140/222" alt="" width="140" height="140"/>
                <img src="http://placehold.it/140x140/333" alt="" width="140" height="140"/>
                <img src="http://placehold.it/140x140/222" alt="" width="140" height="140"/>
                <img src="http://placehold.it/140x140/333" alt="" width="140" height="140"/>
                <img src="http://placehold.it/140x140/222" alt="" width="140" height="140"/>
                <img src="http://placehold.it/140x140/333" alt="" width="140" height="140"/>
            </div>
            <div class="clearfix">
            </div>
            <a class="prev" id="foo2_prev" href="#"><span>prev</span></a>
            <a class="next" id="foo2_next" href="#"><span>next</span></a>
        </div>
    </div>
</div> -->

<!--<div class="row">
    <div class="twelve columns">
        <div id="eln">
            <a title="Elearning Network Industry Partner" class="elnlogo" href="https://www.elearningnetwork.org/industry-partners/" target="_blank">
                <img class="aligncenter" src="/assets/logos/eLN_Industry Partner_Logo_Full colour_CMYK.png" width="250px" alt="ELN industry partner logo" />
            </a>
            <p>&nbsp;</p>
        </div>
    </div>
</div>-->

<div class="hr">
</div>

<div class="row">
    <div class="twelve columns">
        <div class="centersectiontitle">
            <h4>Recent blog posts</h4>
        </div>
        {% for post in site.posts limit: 3 %}
        <div class="four columns"> <!-- Posts -->

            <div class="boxblog">                   
                <h5><a href="{{ post.url }}">{{ post.title }}</a></h5>
                <p class="small date">
                    Posted on: {{ post.date | date: '%B %d, %Y' }} &nbsp; <a href="{{ site.url}}{{ post.url }}#disqus_thread">Comments</a>
                </p>
                <p>
                <a href="{{ post.url }}"><img src="{{ post.thumb }}" alt="{{ post.alt }}" class="thumb"></a>
                <!-- {{ post.excerpt }} -->
                </p>
                <!--<p class="small">Categories: {% for category in post.categories %}{{ category }},{% endfor %}
                </p>-->
                <!--<p>
                    <a href="{{ post.url }}" class="small continue">Continue reading</a>
                </p>-->
            </div>

        </div>
        {% endfor %}
        </div>
</div>

<!--end testimonials-->

{% include footer.html %}

{% include javascripts.html %}

</body>
</html>
