{% include head.html %}
<body>
{% include topmenu.html %}
<div class="clear">
</div>
{% include subheader.html %}
<!-- CONTENT 
================================================== -->
<div class="row">
    <!-- MAIN CONTENT-->
    <div id="content" class="eight columns">

        {{ content }}
        
    </div><!-- end main content-->

    <!-- SIDEBAR-->
    <div id="sidebar" class="four columns">

        {% include sidebar-content.html %}
        <!--<div class="teamwrap teambox">
            <img src="images/temp/team1.jpg" alt="">
            <div class="mask">
                <h2>Katrina Bernski</h2>
                <p>
                    One of our best shooting model, working for this company since the beginning.
                    <div class="social socialteam facebook">
                        <a href="#"></a>
                    </div>
                    <div class="social socialteam twitter">
                        <a href="#"></a>
                    </div>
                    <div class="social socialteam deviantart">
                        <a href="#"></a>
                    </div>
                    <div class="social socialteam flickr">
                        <a href="#"></a>
                    </div>
                    <div class="social socialteam dribbble">
                        <a href="#"></a>
                    </div>
                </div>
            </div>
            <div class="teamwrap teambox">
                <img src="images/temp/team2.jpg" alt="">
                <div class="mask">
                    <h2>Yolanda Bernski</h2>
                    <p>
                        One of our best shooting model, working for this company since the beginning.
                        <div class="social socialteam facebook">
                            <a href="#"></a>
                        </div>
                        <div class="social socialteam twitter">
                            <a href="#"></a>
                        </div>
                        <div class="social socialteam deviantart">
                            <a href="#"></a>
                        </div>
                        <div class="social socialteam flickr">
                            <a href="#"></a>
                        </div>
                        <div class="social socialteam dribbble">
                            <a href="#"></a>
                        </div>
                    </div>
            </div>
            <div class="teamwrap teambox">
                    <img src="images/temp/team3.jpg" alt="">
                    <div class="mask">
                        <h2>Luna Galliano</h2>
                        <p>
                            One of our best shooting model, working for this company since the beginning.
                            <div class="social socialteam facebook">
                                <a href="#"></a>
                            </div>
                            <div class="social socialteam twitter">
                                <a href="#"></a>
                            </div>
                            <div class="social socialteam deviantart">
                                <a href="#"></a>
                            </div>
                            <div class="social socialteam flickr">
                                <a href="#"></a>
                            </div>
                            <div class="social socialteam dribbble">
                                <a href="#"></a>
                            </div>
                    </div>
            </div>-->
    </div><!-- end sidebar -->
</div>
<div class="hr">
</div>

{% include footer.html %}

{% include javascripts.html %}
</body>
</html>