{% include head.html %}
<body>
{% include topmenu.html %}
<div class="clear">
</div>
{% include subheader.html %}
<!-- CONTENT 
================================================== -->
<div class="row">
    <!-- MAIN CONTENT-->
    
    <div id="content">
    	<div class="twelve columns">
    	<h2>{{ page.firstname }} {{ page.surname }}</h2>
    	</div>
    	<div class="eight columns">
    	
    	{{ page.description }}
    	{{ content }}
    	</div>
    	<div class="one columns"></div>
		<div class="three columns">
		<div class= "portrait rounded">
			<img src="{{ page.photo }}" alt="{{ page.firstname }} portrait" />
			</div>
		</div>
		
		
        
              
    </div><!-- end main content-->

    
</div>
<div class="hr">
</div>

{% include footer.html %}

{% include javascripts.html %}
</body>
</html>