{% include head.html %}
<body>
{% include topmenu.html %}
<div class="clear">
</div>
{% include subheader.html %}
<!-- CONTENT 
================================================== -->
<div class="row">
    <!-- MAIN CONTENT-->
    
    <div id="content">
    	
    	<div class="twelve columns">
    	<h2>{{ page.firstname }} {{ page.surname }}</h2>
		<div class="alignright portrait rounded">
			<img src="{{ page.photo }}" alt="{{ page.firstname }} portrait" />
		</div>
		{{ page.description }}
		
        {{ content }}
        </div><!-- end of central column -->       
    </div><!-- end main content-->

    
</div>
<div class="hr">
</div>

{% include footer.html %}

{% include javascripts.html %}
</body>
</html>