{% include head.html %}
<body>
    <div class="grid">
        <div id="ident">
            
            <div class="col_3">
                <a href="/index.html">
                <img src="/assets/wyversolutions_logo_900.png" alt="Wyver Solutions logo" style="object-fit: cover;" />
                </a>
                <h3 class="">Technology in your language</h3>
            </div>

            {% include topmenu.html %}

            <div class="clear"></div>
        </div> <!-- end ident -->
<!-- CONTENT 
================================================== -->

    
    <!-- MAIN CONTENT-->
    <div id="content" class="col_12">
        <h2><a href="/blog">Blog</a> &raquo; {{ page.title }}</h2>
        
        <p class="small">
                            Posted on: {{ page.date | date: '%B %d, %Y' }}
                        </p>
        <p class="small">Categories: {{ page.categories | join: ', ' }}
                    </p>



        <div class="banner-image">
            <img class="full-width" style="max-width:100%;" src="{{ page.banner }}" alt="{{ page.alt }}" />
            {% if page.banner %}
                <p class="small right">Image credit: {{ page.img-credit }}</p>
            {% endif %}
        </div>
                   
            <div class="col_8">{{ content }}</div>
            <div class="col_1"></div>
            <div class="col_3">

                <h4>Recent articles</h4>
        
        
            
    
        
        
        {% for post in site.posts limit: 5 %}
        
         <!-- Posts -->

            
                
                    <h5 class="home-post-title"><a href="{{ post.url }}">{{ post.title }}</a></h5>
                    <!--<p class="small date">
                        Posted on: {{ post.date | date: '%B %d, %Y' }}<br />
                    </p>-->
                    
                    <p>
                        <a href="{{ post.url }}"><img style="width:100%" src="{{ post.thumb }}" alt="{{ post.alt }}" class="thumb"></a>
                    <!-- {{ post.excerpt }} -->
                    </p>
                    <!--<p class="small">Categories: {% for category in post.categories %}{{ category }},{% endfor %}
                    </p>-->
                    <!--<p>
                        <a href="{{ post.url }}" class="small continue">Continue reading</a>
                    </p>-->
                
            

        
        
        {% endfor %}
    </div>
        
    

    </div><!-- end main content-->

    


    
    

<hr />


{% include footer.html %}
</div> <!-- End grid -->
{% include javascripts.html %}
</body>
</html>