{% include head.html %}
<body>
{% include topmenu.html %}
<div class="clear">
</div>
{% include subheader.html %}
<!-- CONTENT 
================================================== -->
<div class="row">
    <div class="twelve columns noleftmargin">
    <!-- MAIN CONTENT-->
    <div id="content" class="eight columns">
        <p class="small">Categories: {{ page.categories | join: ', ' }}
                    </p>

        <div class="banner-image">
            <img style="max-width:100%;" src="{{ page.banner }}" alt="{{ page.alt }}" />
            {% if page.banner %}
                <p class="small right">Image credit: {{ page.img-credit }}</p>
            {% endif %}
        </div>
                    
        {{ content }}
        
    </div><!-- end main content-->

    <!-- SIDEBAR-->
    <div class="four columns">
            
            {% include sidebar-content.html %}

            {% assign hasSimilar = '' %}
            {% for post in site.related_posts %}
                {% assign postHasSimilar = false %}
                    {% for category in post.categories %}
                        {% for thisCategory in page.categories %}
                            {% if postHasSimilar == false and hasSimilar.size < 6 and post != page and category == thisCategory %}
                                {% if hasSimilar.size == 0 %}
                                    <h6 class="sidebartitle">Related Posts</h6>
                                    <ul>
                                        {% endif %}
                                        <li class="relatedPost">
                                        <a href="{{ site.url }}{{ post.url }}">{{ post.title }}
                                        {% if post.series %}
                                            (Series: {{ post.series }})
                                        {% endif %}
                                        </a>
                                        </li>
                                        {% capture hasSimilar %}{{ hasSimilar }}*{% endcapture %}
                                        {% assign postHasSimilar = true %}
                                    {% endif %}
                                {% endfor %}
                            {% endfor %}
                        {% endfor %}
                        {% if hasSimilar.size > 0 %}
                            </ul>
                        {% endif %}
        </div>
    <!--<div id="sidebar" class="four columns">
        <div class="teamwrap teambox">
            <img src="images/temp/team1.jpg" alt="">
            <div class="mask">
                <h2>Katrina Bernski</h2>
                <p>
                    One of our best shooting model, working for this company since the beginning.
                    <div class="social socialteam facebook">
                        <a href="#"></a>
                    </div>
                    <div class="social socialteam twitter">
                        <a href="#"></a>
                    </div>
                    <div class="social socialteam deviantart">
                        <a href="#"></a>
                    </div>
                    <div class="social socialteam flickr">
                        <a href="#"></a>
                    </div>
                    <div class="social socialteam dribbble">
                        <a href="#"></a>
                    </div>
                </div>
            </div>
            <div class="teamwrap teambox">
                <img src="images/temp/team2.jpg" alt="">
                <div class="mask">
                    <h2>Yolanda Bernski</h2>
                    <p>
                        One of our best shooting model, working for this company since the beginning.
                        <div class="social socialteam facebook">
                            <a href="#"></a>
                        </div>
                        <div class="social socialteam twitter">
                            <a href="#"></a>
                        </div>
                        <div class="social socialteam deviantart">
                            <a href="#"></a>
                        </div>
                        <div class="social socialteam flickr">
                            <a href="#"></a>
                        </div>
                        <div class="social socialteam dribbble">
                            <a href="#"></a>
                        </div>
                    </div>
            </div>
            <div class="teamwrap teambox">
                    <img src="images/temp/team3.jpg" alt="">
                    <div class="mask">
                        <h2>Luna Galliano</h2>
                        <p>
                            One of our best shooting model, working for this company since the beginning.
                            <div class="social socialteam facebook">
                                <a href="#"></a>
                            </div>
                            <div class="social socialteam twitter">
                                <a href="#"></a>
                            </div>
                            <div class="social socialteam deviantart">
                                <a href="#"></a>
                            </div>
                            <div class="social socialteam flickr">
                                <a href="#"></a>
                            </div>
                            <div class="social socialteam dribbble">
                                <a href="#"></a>
                            </div>
                    </div>
            </div>-->
    </div><!-- end sidebar -->
</div>
<div class="hr">
</div>

{% include footer.html %}

{% include javascripts.html %}
</body>
</html>